* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-gap: 1rem;
}

.grid-item {
    cursor: pointer;
    user-select: none;
    width: 100%;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.5rem solid lightgrey;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item.crossed {
    background-color: aquamarine;
    border-color: mediumaquamarine;
}
